# Build
build/
out/
vs2022/
*.obj
*.o
*.exe
*.pdb
*.ilk
*.idb
*.log
*.tlog
*.lastbuildstate
*.iobj
*.ipdb

# Visual Studio
.vs/
x64/
Debug/
Release/
*.user
*.suo
*.VC.db
*.VC.opendb
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake

# IDE
.vscode/
CMakeUserPresets.json

# OS
Thumbs.db
.DS_Store
